<h1>Welcome to SoftUni Wiki!</h1>
<section>
  <h2>Login</h2>
  <div class="spacer">
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <label>Email:</label>
      <input type="text" class="form-control" id="inputEmail" placeholder="Email" name="email"
             required
             email
             [(ngModel)]="model.email"
             #email="ngModel">

      <div [hidden]="email.valid || email.pristine" class="alert alert-dark">
        Please provide a correct email address
      </div>
      <label>Password:</label>
      <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password"
             required
             [(ngModel)]="model.password"
             #password="ngModel"
             minlength="4">
      <div [hidden]="password.valid || password.pristine" class="alert alert-dark">
        Password must have at least 4 characters
      </div>
      <input type="submit" [disabled]="loginForm.form.invalid" value="Login">
    </form>
  </div>
</section>
