<h1>Welcome to SoftUni Wiki!</h1>
<section id="featured">
  <h2>Latest article</h2>
  <article>
    <h3>{{lastArticle.title}}</h3>
    <p>
     {{lastArticle.content}}
    </p>
    <div class="controls">
      <a routerLink="/article/details/{{lastArticle._id}}">Read more</a>
    </div>
  </article>
</section>
<section id="recent">
  <h2>Recently added articles</h2>
  <ul *ngFor="let article of articles; let i = index">
    <li>
      <a routerLink="/article/details/{{article._id}}">{{i+1}}.  {{article.title}}</a>
    </li>
  </ul>
</section>
