<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Wiki</title>
  <link rel='stylesheet' href='../assets/stylesheets/site.css'/>
  <script src="../assets/javascripts/jquery-1.10.2.js"></script>
  <script src="../assets/javascripts/bootstrap.js"></script>
</head>

<body>
<div>
  <!--<aside>-->
  <!--<div class="center">-->
  <!--<img class="logo" src="../assets/img/logo.png" alt="logo">-->
  <!--</div>-->

  <!--<nav>-->
  <!--<a href="/">Main Page</a>-->
  <!--<a href="article.html">Latest Article</a>-->
  <!--<a href="/article/all">All Articles</a>-->
  <!--<form>-->
  <!--<input type="text">-->
  <!--<input type="submit" value="Search">-->
  <!--</form>-->
  <!--<a href="/article/create">Create New Article</a>-->
  <!--</nav>-->
  <!--</aside>-->
 <app-navigation-article></app-navigation-article>
  <div id="container">
    <!--<header>-->
      <!--<a href="/user/login">Login</a>-->
      <!--<a href="/user/register">Register</a>-->
      <!--<span>Welcome(TEST)!</span>-->
      <!--<a href="/user/logout">[Logout]</a>-->
    <!--</header>-->
    <app-navigation-user></app-navigation-user>
    <router-outlet></router-outlet>
    <footer>
      SoftUni Wiki &copy; 2018
    </footer>
  </div>
</div>
</body>

</html>
