<aside>
  <div class="center">
    <img class="logo" src="../assets/img/logo.png" alt="logo">
  </div>

  <nav>
    <a routerLink="/">Main Page</a>
    <a routerLink="/article/details/{{lastArticle._id}}">Latest Article</a>
    <a routerLink="/article/all">All Articles</a>
    <!--<form>-->
      <!--<input type="text">-->
      <!--<input type="submit" value="Search">-->
    <!--</form>-->
    <div>
      <input type="text" [(ngModel)]="searchText" name="searchText"/>
      <button class="btn" (click)="search()">Search</button>
    </div>
    <a routerLink="/article/create">Create New Article</a>
  </nav>
</aside>
